@font-face {
font-family: 'tfutura';
src: url('images/f300.woff') format('woff');
font-weight: 300;
font-style: light;
}
@font-face {
font-family: 'tfutura';
src: url('images/f400.woff') format('woff');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'tfutura';
src: url('images/f500.woff') format('woff');
font-weight: 500;
font-style: medium;
}
@font-face {
font-family: 'tfutura';
src: url('images/f600.woff') format('woff');
font-weight: 600;
font-style: semibold;
}
@font-face {
font-family: 'tfutura';
src: url('images/f600.woff') format('woff');
font-weight: 700;
font-style: bold;
}

.tcrm-project-midpanel {
  margin: 0 auto 26px;
  max-width: 1200px;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.tcrm-project-midpanel__wrapper {
  display: table;
  width: 100%;
}

.tcrm-project-midpanel__site-title {
  display: table-cell;
  vertical-align: middle;
  font-size: 64px;
  line-height: 1.1;
  font-weight: 300;
  max-width: 400px;
  padding-bottom: 10px;
}

.tcrm-project-midpanel__buttons {
  display: table-cell;
  vertical-align: middle;
  width: 520px;
  text-align: right;
  white-space: nowrap;
}

.tcrm-project-midpanel__button {
  display: inline-block;
  margin: 5px 0px 5px 10px;
  padding: 0px;
  height: 50px;
}

.tcrm-button-ico {
  padding: 0px 25px;
  height: 50px;
  background-color: #fa876b;
  border-radius: 55px;
  color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
  cursor: pointer;
  transition: 200ms;
}

.tcrm-button-ico_white {
  color: #000;
  background-color: #fff;
  transition: 200ms;
}

.tcrm-button-ico__ico {
  vertical-align: middle;
  height: 50px;
}

.tcrm-button-ico__title {
  height: 50px;
  vertical-align: middle;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 0px;
}

.tcrm-button-ico__ico img {
    display: block;
}






.tcrm-clear:after {
	content: ' ';
	clear: both;
	display: block;
}

.tcrm-container {
	margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.tcrm-wrapper {
	background: #fff;
  height: 100vh;
  overflow: hidden;
}

.tcrm-header {
	width: 100%;
	box-sizing: border-box;
}

.tcrm-tabs {
	padding: 8px 0;
  border-bottom: 1px solid #dcdcdc;
}

.tcrm-tabs-item {
	color: #c1c1c1;
	cursor: pointer;
	float: left;
	padding: 14px 30px 13px;
	font-size: 16px;
	border-right: 1px solid #dcdcdc;
	-webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.tcrm-tabs-item:hover {
	color: #888;
}

.tcrm-tabs-item.tcrm-active {
	cursor: default;
	color: #222;
}

.tcrm-search-icon-wrapper {
	float: right;
	padding: 21px 31px 0 0;
}

.tcrm-header-no-tabs .tcrm-search-icon-wrapper {
  float: none;
  border-bottom: 1px solid #dcdcdc;
  width: 100%;
  text-align: center;
  padding: 0;
}

.tcrm-header-no-tabs .tcrm-search-icon-body {
  padding: 22px 0 20px 0;
}

.tcrm-search-icon-body {
  cursor: pointer;
}

.tcrm-search-icon {
	width: 10px;
	height: 10px;
	border-left: 1px solid #c1c1c1;
	border-bottom: 1px solid #c1c1c1;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.tcrm-search-icon-container {
	-moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
  vertical-align: top;
}

.tcrm-search-icon-body-flipped .tcrm-search-icon-container {
	-moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  vertical-align: middle;
  margin-top: 5px;
}

.tcrm-search-icon-text {
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
	-webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  color: #c1c1c1;
  margin-top: 1px;
}

.tcrm-search-icon-body:hover .tcrm-search-icon-text {
	color: #888;
}

.tcrm-search-icon-body:hover .tcrm-search-icon {
	border-color: #888;
}

.tcrm-table-header {
	border-bottom: 1px solid #dcdcdc;
  height: 60px;
}

.tcrm-table-header .tcrm-table-col-name {
	cursor: pointer;
	margin-top: 9px;
}

.tcrm-table-header .tcrm-table-col {
  position: relative;
  padding: 14px 0 16px;
  cursor: pointer;
  height: 60px;
}

.tcrm-table-header .tcrm-table-col:first-child {
  padding: 13px 0;
}

.tcrm-table-header .tcrm-table-col:first-child {
  padding: 13px 0;
}

.tcrm-table-header .tcrm-table-col .ui-resizable-e {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 33px;
  width: 10px;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.2s;
  -moz-transition: opacity ease-in-out 0.2s;
  -o-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
  cursor: col-resize;
}

.tcrm-table-header .tcrm-table-col:hover .ui-resizable-e {
  opacity: 1;
}

.tcrm-table-header .tcrm-table-col:first-child:hover .ui-resizable-e, .tcrm-table-header .tcrm-table-col:first-child .ui-resizable-e {
  display: none !important;
}

.tcrm-table-header .tcrm-table-col .ui-resizable-e:after {
  content: ' ';
  float: right;
  background: #dcdcdc;
  width: 1px;
  height: 100%;
  margin-left: -1px;
}

.tcrm-table-sort {
	margin-left: 4px;
	-webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  opacity: 0;
}

.tcrm-table-header .tcrm-table-col:hover .tcrm-table-sort {
	opacity: 1;
}

.tcrm-table-sort.tcrm-table-sort-active {
	opacity: 1;
}

.tcrm-table-sort.tcrm-table-sort-active.tcrm-table-sort-rotated svg {
	-ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.tcrm-table-header-checkbox {
	position: relative;
}

.tcrm-list-tab {
	display: none;
}

.tcrm-list-tab.tcrm-list-tab-active {
	display: block;
}

.tcrm-list-tab .tcrm-table-header-checkbox {
	margin-left: 7px;
}

.tcrm-empty {
	text-align: center;
	margin-top: 100px;
	color: #a9a9a9;
	font-size: 24px;
	font-weight: 300;
}

.tcrm-table-header-checkbox-body {
	position: absolute;
	top: 9px;
	left: 8px;
}

.tcrm-table-header-dropdown-content {
	opacity: 0;
	z-index: -1;
	position: absolute;
	top: 38px;
	left: 0;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #dcdcdc;
	padding: 18px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
}

.tcrm-table-header-dropdown-item {
	font-size: 14px;
	color: #9b9b9b;
	cursor: pointer;
	white-space: nowrap;
	margin-bottom: 15px;
}

.tcrm-table-header-dropdown-item:hover {
	color: #222;
}

.tcrm-table-header-dropdown-item:last-child {
	margin-bottom: 0;
}

.tcrm-table-header-dropdown-content-show {
	opacity: 1;
	z-index: 9;
}

.tcrm-table-header-dropdown-body {
	background: #f3f3f3;
	border: 1px solid #dcdcdc;
	height: 32px;
	border-radius: 3px;
	width: 49px;
	cursor: pointer;
}

.tcrm-table-header-dropdown-body:after {
	content: " ";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #888888 transparent transparent transparent;
	top: 15px;
	left: 32px;
	position: absolute;
}

.tcrm-table-container {
	margin: 0 30px;
	box-sizing: border-box;
	overflow: hidden;
}

.tcrm-table-container-scrollable {
  overflow-x: scroll;
}

.tcrm-table-col {
	float: left;
	width: 150px;
  min-width: 75px;
	box-sizing: border-box;
}

.tcrm-table-col:first-child {
	width: 75px !important;
}

.tcrm-table-col-name {
	font-size: 16px;
	display: block;
	width: inherit;
  white-space: nowrap;
  overflow:hidden !important;
  text-overflow: ellipsis;
  padding-right: 35px;
  box-sizing: border-box;
}
 
.jq-checkbox.checkbox-btn.tcrm-checkbox {
	border: 1px solid #acacac;
	border-radius: 0;
	background: #fff;
	margin: 0;
	box-shadow: none;
	margin-top: 1px;
	width: 14px;
	height: 14px;
  display: block !important;
}

.jq-checkbox.checkbox-btn.tcrm-checkbox.checked {
	border: 1px solid #d86a43;
}

.jq-checkbox.checkbox-btn.tcrm-checkbox.checked .jq-checkbox__div {
	box-shadow: none;
	width: 28px;
  height:9px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fff;
  margin: 0;
  border-radius: 0;
}

.jq-checkbox.checkbox-btn.tcrm-checkbox.checked .jq-checkbox__div:before {
	content: ' ';
    position: absolute;
    width:2px;
    height:9px;
    background-color:#d86a43;
    left:11px;
    top:6px;
}

.jq-checkbox.checkbox-btn.tcrm-checkbox.checked .jq-checkbox__div:after {
	content: ' ';
    position: absolute;
    width:4px;
    height:2px;
    background-color:#d86a43;
    left:8px;
    top:13px;
}

.tcrm-list {
  overflow-y: scroll;
}

.tcrm-list .tcrm-table-col-name {
	font-weight: 300;
	color: #222;
  margin-top: 1px;
}

.tcrm-list-item {
	-webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.tcrm-list-item .tcrm-table-col {
  padding: 13px 0 11px;
}

.tcrm-list-item:nth-child(2n) {
	background: #f3f3f3;
}

.tcrm-list-item:hover {
	background: #fdcfc3;
}

.tcrm-filter {
	padding: 20px 30px 20px;
	width: 100%;
	border-bottom: 1px solid #dcdcdc;
	box-sizing: border-box;
	position: relative;
	padding-right: 160px;
}

.tcrm-filter-hidden {
	display: none;
}

.tcrm-input {
  padding: 0;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #dcdcdc;
  background: transparent none repeat scroll 0% 0%;
  font-size: 16px;
  font-weight: 300;
  color: #222;
  height: 27px;
  box-sizing: border-box;
  outline: none !important;
  font-family: 'tfutura';
}

.tcrm-filter-date {
	position: relative;
	display: inline-block;
}

.tcrm-filter-date:first-child {
	margin-right: 30px;
}

.tcrm-filter-date-title {
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	margin-right: 2px;
}

.tcrm-filter-date-icon {
	width: 19px;
  height: 20px;
	top: 1px;
	right: 0;
	pointer-events: none;
	position: absolute;
}

.pickmeup {
	margin-top: 5px;
  z-index: 999;
}

.tcrm-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  border-radius: 0;
  cursor: pointer;
}

.tcrm-btn {
	position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 15px 29px 14px;
  margin: 0;
  border: 0px none;
  background: #fa8669;
  border-radius: 100px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.tcrm-btn:hover, .tcrm-btn:focus {
    background: #F87458;
    color: #fff;
}

.tcrm-filter-button-icon {
	width: 11px;
	display: inline-block;
	margin-right: 1px;
}

.tcrm-filter-button .tcrm-btn {
	padding-left: 27px;
}

.tcrm-filter-dates-wrapper {
  width: 360px;
  float: left;
}

.tcrm-filter-fields {
  padding-left: 400px;
}

.tcrm-filter-item:last-child {
	margin-right: 0;
}

.tcrm-filter-fields .tcrm-input, .tcrm-filter-fields .tcrm-select {
	max-width: 215px;
	width: 100%;
	display: inline-block;
}

.tcrm-filter-fields .tcrm-input.tcrm-select {
	margin-left: 10px;
  padding-right: 18px;
  position: relative;
}

.tcrm-filter-fields .tcrm-select:after {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #888888 transparent transparent transparent;
  top: 11px;
  right: -11px;
  position: absolute;
}

.tcrm-filter-button {
	position: absolute;
	top: 11px;
	right: 30px;
}

.tcrm-showmore {
  border: 1px solid #cccccc;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 20px 15px 19px;
  text-align: center;
  box-sizing: border-box;
  margin-top: 15px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  margin-bottom: 2px;
}

.tcrm-showmore:hover {
  background: #cccccc;
}

@media screen and (max-width: 1100px) {
  .tcrm-filter-fields {
    padding-left: 370px;
  }

  .tcrm-filter-fields .tcrm-input, .tcrm-filter-fields .tcrm-select {
    max-width: 148px;
  }

  .tcrm-project-midpanel__site-title {
    font-size: 24px;
    max-width: 380px;
  }
}

@media screen and (max-width: 940px) {
  .tcrm-filter-fields {
    padding-left: 0px;
    padding-top: 40px;
  }

  .tcrm-filter-fields .tcrm-input-first {
    margin-right: 19px;
  }

  .tcrm-filter-button {
    top: 33px;
  }

  .tcrm-project-midpanel__wrapper {
    width: 100%;
    text-align: center;
    display: block;
  }

  .tcrm-project-midpanel__site-title {
    float: none;
    display: block;
    margin: 20px auto;
  }

  .tcrm-project-midpanel__buttons {
    display: block;
    width: 100%;
    text-align: center;
  }

  .tcrm-project-midpanel {
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 660px) {
  .tcrm-search-icon-wrapper {
    display: none;
  }

  .tcrm-tabs-item {
    padding: 10px 15px 10px;
    font-size: 14px;
  }

  .tcrm-container {
    padding: 0 20px;
  }

  .tcrm-table-container {
    margin: 0 15px;
  }

  .tcrm-table-header .tcrm-table-col-name {
    font-size: 14px;
    margin-top: 12px;
  }

  .tcrm-list .tcrm-table-col-name {
    font-size: 14px;
  }

  .tcrm-project-midpanel__button {
    float: none;
    display: block;
    margin: 10px auto;
  }

  .tcrm-project-midpanel__button .tcrm-button-ico {
    width: 80%;
    text-align: center;
  }

  .tcrm-project-midpanel__button .tcrm-button-ico__title {
    width: 100%;
    text-align: center;
    padding-right: 20px;
  }
}

@media screen and (max-width: 400px) {
  .tcrm-tabs-item {
    border-right: none;
    padding-right: 0;
  }
}









