@font-face {
	font-family: 'Museo';
	src: url('http://www.ucarecdn.com/ee695954-d2ba-4e21-aab8-2afc029cf6cc/museosans700.woff') format('woff');
	font-weight: 300;
	font-style: light;
}
@font-face {
	font-family: 'Museo';
	src: url('http://www.ucarecdn.com/28ef9faf-dad5-485b-92b2-9c82dc5dab63/museosans300.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
  font-family: 'Museo';
  src: url('http://www.ucarecdn.com/b01a67b8-c28e-4682-ac0c-617e1f75f811/museosans500.woff') format('woff');
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: 'Museo';
  src: url('http://www.ucarecdn.com/a54ebdd4-57c7-4098-938b-44f8d6d91c39/museosans900.woff') format('woff');
  font-weight: 700;
  font-style: bold;
}