.te-popup {
	opacity: 0;
	z-index: -1;
	-webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  overflow: scroll;
  height: 100%;
}

.te-body_popup-opened .te-popup {
	display: block;
	opacity: 1;
	z-index: 999;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	overflow: scroll;
}

.te-popup__overlay {
	background: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.te-body_popup-opened {
	overflow: hidden;
}

.te-popup__wrap {
	max-width: 500px;
	margin: 100px auto;
	background: #fff;
	text-align: center;
	width: 100%;
	position: relative;
}

.te-popup__header {
	background: #ffee00;
	padding: 45px 15px 37px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	font-weight: 500;
}

.te-popup__info {
	padding: 0 15px;
}

.te-popup__description {
	text-align: center;
	font-size: 26px;
	color: rgba(0,0,0,.7);
	font-weight: 300;
  max-width: 400px;
  margin: 40px auto;
  line-height: 30px;
}

.te-popup__buttons {
	list-style: none;
}

.te-popup__btn {
	display: block;
	padding: 16px;
	background: #eee;
	color: #fff;
	border-radius: 100px;
	max-width: 400px;
	margin: 0 auto 20px;
	font-size: 18px;
	font-weight: 400;
	-webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.te-popup__btn__icon {
  width: 30%;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  margin-top: 2px;
}

.te-popup__btn__icon img {
	display: block;
	height: 15px;
	margin-left: auto;
	margin-right: 10px;
}

.te-popup__btn span {
  width: 63%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.te-popup__btn:hover {
	opacity: .8;
}

.te-popup__btn-fb {
	background: #425697;
}

.te-popup__btn-tw {
	background: #41acea;
}

.te-popup__btn-vk {
	background: #57799e;
}

.te-popup__btn-google {
	background: #dd4b39;
}

.te-popup__btn-google img {
	margin-right: 14px;
}

.te-popup__hint {
	font-size: 14px;
	border-top: 1px solid #cecece;
	padding: 27px 15px 26px;
	color: rgba(0,0,0,.7);
	margin-top: 52px;
}

.te-popup__close {
	width: 16px;
	height: 16px;
	position: fixed;
	right: 15px;
	top: 15px;
}

.te-popup__close img {
	display: block;
	width: 100%;
}

@media screen and (max-width: 500px) {
	.te-popup__wrap {
		position: relative;
		top: auto;
		margin-top: 50px;
		max-width: 290px;
	}

	.te-popup__header {
		font-size: 16px;
		padding: 28px 15px 21px;
	}

	.te-popup__description {
		text-align: center;
    font-size: 18px;
    color: rgba(0,0,0,.7);
    font-weight: 300;
    max-width: 400px;
    margin: 21px auto 20px;
    line-height: 20px;
	}

	.te-popup__btn {
		font-size: 14px;
		padding: 11px 15px 10px;
		margin-bottom: 10px;
	}

	.te-popup__btn__icon img {
		height: 11px;
	}

	.te-popup__btn span {
		margin-left: -5px;
	}

	.te-popup__btn__icon {
		width: 19%;
	}

	.te-popup__hint {
		font-size: 12px;
    border-top: 1px solid #cecece;
    padding: 13px 15px 12px;
    color: rgba(0,0,0,.7);
    margin-top: 23px;
	}
}