html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background: #ededed;
	font-family: "tfutura";
	min-width: 320px;
  -webkit-font-smoothing: antialiased;
}

input {
	outline: none !important;
}

input, textarea {
	font-family: "tfutura";
}

img {
	max-width: 100%;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

a {
	color: #000;
	text-decoration: none;
}

.td-acr a {
	color: #fa8669;
	text-decoration: none;
}

.td-acr a:hover {
	color: #f87458;
}

.td-site-wrap {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	text-align: center;
	font-size: 0;
}

.td-site-wrap:before {
	 height: 100%;
	 display: inline-block;
	 vertical-align: middle;
	 content: '';
 }

.td-site-center-wrap {
	display: inline-block;
	margin: 24px;
	white-space: normal;
	vertical-align: middle;
	text-align: left;
}

.load-btn {
	background-image: url("../images/loader.gif") !important;
	background-repeat: no-repeat !important;
	background-position: 17px 11px !important;
}

.td-page-form {
	position: relative;
	max-width: 720px;
	background: #fff;
	font-size: 14px;
	padding-bottom: 26px;
	overflow: hidden;
}

.td-head-page-form {
	background: #f7f7f7;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
}

.td-close-form {
	position: absolute;
	right: 40px;
	top: 40px;
	width: 19px;
	height: 19px;
	background: url("../images/all-icons.svg") no-repeat -58px -54px;
	cursor: pointer;
}

.td-close-form:hover {
	background: url("../images/all-icons-orange.svg") no-repeat -57px -50px;
}

.td-name-page-form {
	font-size: 18px;
	color: #000;
	margin-top: 40px;
	font-weight: normal;
	padding-right: 25px;
	margin-left: 40px;
}

/* Пробные */
.td-slm-box {
	overflow:hidden;
	height:47px;
	margin-top: 40px;
}

.td-nav-page-form-wrapper {
	position: relative;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    display: inline-block;
	margin: 11px 0 0 0;
}

.td-nav-page-form {
    width: auto;
}

/* Конец. Пробные */


.td-nav-page-form-wrapper {
	height: 37px;
	overflow: hidden;
}

.td-nav-page-form {
	position: relative;
	list-style: none;
}

.td-nav-page-form li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font: 16px "Futura-light";
	margin-left: 47px;
}

.td-nav-page-form li:first-child {
	margin-left: 40px;
}

.td-nav-page-form li:nth-last-child(2){
	margin-right: 40px;
}

.td-nav-page-form li#line {
	display: block;
	position: absolute;
	content:'';
	bottom: 0;
	left: 0;
	text-indent: -10000px;
	height: 3px;
	width: 0;
	padding: 0;
	background: #000;
	margin-left: 0;
}

.td-nav-page-form li a {
	display: block;
	color: #000;
	text-decoration: none;
	padding-bottom: 15px;
}

.td-content-page-form {
	padding: 3px 38px;
}

.td-inputs-page-form .td-item {
	position: relative;
	margin-top: 48px;
}

.td-inputs-page-form .td-item p {
	font: 14px/10px "Futura_Light-Normal";
	color: #000;
	text-transform: uppercase;
}

.td-inputs-page-form .td-item.active p {
	color: #fa8669;
}

.td-text-input-page-form {
	padding: 0;
	margin: 0;
	border: 0;
	border-bottom: 1px solid #b5b5b5;
	background: transparent none repeat scroll 0% 0%;
	font: 24px "Futura-light";
	color: #000;
	width: 100%;
	height: 53px;
	box-sizing: border-box;
}

.td-text-input-page-form:focus, .td-text-input-page-form:hover {
	border-bottom: 1px solid #fa8e73;
}

.td-text-input-page-form::-moz-placeholder {
	color: #cacaca;
}

.td-text-input-page-form::-webkit-input-placeholder {
	color: #cacaca;
}

.url-input-url-text {
	position: absolute;
	font: 24px "Futura-light";
	color: #b4b4b4;
	bottom: 11px;
	left: 0;
}

.td-comm-inputs-page {
	font-size: 14px;
	color: #a2a2a2;
	margin-top: 15px;
}

.td-butt-link-inputs-page {
	margin-top: 45px;
	overflow: hidden;
}

.td-link-inputs-page {
	display: block;
	float: left;
	font-size: 14px;
	margin-top: 14px;
}

.td-butt-inputs-page {
	float: right;
}

.td-btn-inp-page-btn {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 13px 29px 15px;
	margin: 0;
	border: 0px none;
	background: #fa8669;
	border-radius: 100px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}

.td-btn-inp-page-btn:hover {
	background: #F87458;
}

input.td-btn-inp-page-btn {
	padding: 9px 29px 11px;
}

.td-signup-btn-cancel {
	position: relative;
	padding: 8px 29px 11px;
	margin: 0 0 0 15px;
	border: 1px solid #b7b7b7;
	background: #fff;
	border-radius: 100px;
	font-size: 16px;
	color: #000;
	cursor: pointer;
}

.td-signup-btn-cancel:hover {
	border: 1px solid #FA8E73;
}

.td-title-sredn {
	font: normal 28px "Futura-light";
	color: #000;
	text-align: center;
	margin-top: 35px;
}

.td-image-upload {
	position: relative;
	width: 642px;
	height: 426px;
	line-height: 0;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}

.td-image-upload img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 42px;
}

.td-image-upload a {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	color: #fff;
	line-height: 18px;
	background: #fa8669;
	text-decoration: none;
	padding: 12px 35px 16px;
	border-radius: 100px;
	margin-top: 199px;
	z-index: 99;
}

.td-image-upload a:hover {
	background: #F87458;
}

.text {
	margin-top: 38px;
}

.text p {
	font-size: 14px;
	color: #a2a2a2;
	line-height: 18px;
	text-align: center;
}

.text-black p {
	color: #000;
}

.text-facebook-seo p {
	line-height: 22px;
}

.td-reclam-block {
	margin: 38px 0 4px;
	text-align: center;
}

.text-center .td-btn-inp-page-btn {
	margin-top: 46px;
}

.td-link-custom:hover {
	background: #F87458;
	color: #fff;
}

.td-border-top-block {
	border-top: 1px solid #e5e5e5;
	margin-top: 46px;
}

.td-inputs-form-2 .td-item {
	margin-top: 42px;
	overflow: hidden;
}

.td-left-inputs-form-2 {
	float: left;
	width: 20%;
	font: normal 12px "Futura-light";
	color: #000;
	text-transform: uppercase;
	margin-top: 23px;
}

.td-right-inputs-form-2 {
	float: right;
	width: 78.091%;
}

textarea.td-text-input-page-form {
	height: 107px;
	resize: none;
}

.td-inputs-form-2 .td-textarea-item .td-left-inputs-form-2 {
	margin-top: 10px;
}

.input-file .jq-file {
	box-shadow: none;
	width: auto;
}

.input-file .jq-file__browse {
	display: none;
}

.input-file .jq-file__name {
	box-shadow: none;
	text-shadow: none;
	font: 18px "tfutura";
	color: #000;
	border: 1px solid #d8d8d8;
	padding: 10px 27px 36px;
	margin-top: 7px;
	border-radius: 100px;
}

.jq-file.focused .jq-file__name, .jq-file:hover .jq-file__name {
	border: 1px solid #FA8E73;
}

.td-customize-link {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font: 18px "tfutura";
	color: #000;
	text-decoration: none;
	border: 1px solid #d8d8d8;
	padding: 10px 27px 12px 55px;
	margin-top: 7px;
	border-radius: 100px;
}

.td-customize-link:before {
	content: "";
	position: absolute;
	display: block;
	background: url("../images/all-icons.svg") no-repeat -131px -23px;
	width: 13px;
	height: 13px;
	left: 28px;
	top: 16px;
}

.td-customize-link:hover {
	border: 1px solid #FA8E73;
}

.td-inputs-form-2 .td-item label {
	position: relative;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	margin-bottom: 17px;
	padding-left: 32px;
	min-height: 25px;
	text-align: left;
	overflow: hidden;
}

.td-inputs-form-2 .td-item label .jq-checkbox__div {
	display: none;
}

.td-inputs-form-2 .td-item label .jq-checkbox {
	position: absolute !important;
	top: 2px;
	left: 0;
	border: 0;
	box-shadow: none;
	background: url("../images/all-icons.svg") no-repeat -56px -222px;
	width: 23px;
	height: 24px;
	border-radius: 0;
	margin-right: 10px;
}

.td-inputs-form-2 .td-item label .jq-checkbox.checked {
	background-position: -22px -222px;
}

.td-inputs-form-2 .td-item label span {
	vertical-align: middle;
	font-size: 18px;
	color: #000;
	line-height: 24px;
}

.td-inputs-form-2 .td-radio-item .td-left-inputs-form-2 {
	margin-top: 2px;
}

.td-inputs-form-2 .td-radio-item .td-right-inputs-form-2 label:last-child {
	margin-bottom: 0;
}

.td-list-link {
	list-style: none;
	border: 1px solid #d5d5d5;
	margin-top: 39px;
	overflow: hidden;
}

.td-list-link li {
	float: left;
	width: 50%;
	height: 98px;
	font-size: 20px;
	border-right: 1px solid #d5d5d5;
	border-top: 1px solid #d5d5d5;
	box-sizing: border-box;
}

.td-list-link li:nth-child(1), .td-list-link li:nth-child(2) {
	border-top: 0;
}

.td-list-link li:nth-child(2n) {
	border-right: 0;
}

.td-list-link li a {
	position: relative;
	display: table;
	border-collapse: separate;
	border-spacing: 0 0;
	width: 100%;
	height: 100%;
	color: #000;
	text-decoration: none;
	padding-left: 110px;
	box-sizing: border-box;
}

.td-list-link li a span {
	display: table-cell;
	vertical-align: middle;
}

.td-list-link li a:hover, .td-list-link li a:hover b {
	color: #ff8562;
}

.td-list-link li a span b {
	display: block;
	font-weight: normal;
	font: 15px "Futura_Light-Normal";
	color: #929292;
	margin-top: 5px;
}

.td-list-link li:nth-child(1) a:before {
	content: "";
	display: block;
	position: absolute;
	left: 60px;
	top: 38px;
	background: url("../images/all-icons.svg") no-repeat -24px -274px;
	width: 24px;
	height: 24px;
}

.td-list-link li:nth-child(1) a:hover:before {
	background: url("../images/all-icons-orange.svg") no-repeat -23px -270px;
}

.td-list-link li:nth-child(2) a:before {
	content: "";
	display: block;
	position: absolute;
	left: 60px;
	top: 36px;
	background: url("../images/all-icons.svg") no-repeat -61px -276px;
	width: 31px;
	height: 27px;
}

.td-list-link li:nth-child(2) a:hover:before {
	background: url("../images/all-icons-orange.svg") no-repeat -60px -272px;
}

.td-list-link li:nth-child(3) a:before {
	content: "";
	display: block;
	position: absolute;
	left: 60px;
	top: 38px;
	background: url("../images/all-icons.svg") no-repeat -109px -274px;
	width: 33px;
	height: 26px;
}

.td-list-link li:nth-child(3) a:hover:before {
	background: url("../images/all-icons-orange.svg") no-repeat -108px -270px;
}

.td-list-link li:nth-child(4) a:before {
	content: "";
	display: block;
	position: absolute;
	left: 60px;
	top: 38px;
	background: url("../images/all-icons.svg") no-repeat -156px -275px;
	width: 29px;
	height: 26px;
}

.td-list-link li:nth-child(4) a:hover:before {
	background: url("../images/all-icons-orange.svg") no-repeat -155px -271px;
}

.td-content-page-form-export2 {
	padding-top: 103px;
}

.td-content-page-form-export2 .td-list-link li a {
	color: #bebebe;
}

.td-content-page-form-export2 .text p {
	color: #000;
}

.td-list-link-actions li:nth-child(1) a::before {
	width: 25px;
	height: 26px;
	top: 33px;
	background: url("../images/all-icons.svg") no-repeat -213px -273px;
}

.td-list-link-actions li:nth-child(1) a:hover::before {
	background: url("../images/all-icons-orange.svg") no-repeat -208px -269px;
}

.td-list-link-actions li:nth-child(2) a::before {
	width: 22px;
	height: 25px;
	top: 32px;
	background: url("../images/all-icons.svg") no-repeat -287px -275px;
}

.td-list-link-actions li:nth-child(2) a:hover::before {
	background: url("../images/all-icons-orange.svg") no-repeat -282px -271px;
}

.td-list-link-actions li:nth-child(3) a::before {
	width: 19px;
	height: 26px;
	top: 33px;
	background: url("../images/all-icons.svg") no-repeat -252px -273px;
}

.td-list-link-actions li:nth-child(3) a:hover::before {
	background: url("../images/all-icons-orange.svg") no-repeat -247px -269px;
}

.td-list-link-actions li:nth-child(4) a::before {
	width: 27px;
	height: 23px;
	top: 38px;
	background: url("../images/all-icons.svg") no-repeat -322px -276px;
}

.td-list-link-actions li:nth-child(4) a:hover::before {
	background: url("../images/all-icons-orange.svg") no-repeat -317px -272px;
}

.td-no-link-list-link {
	position: relative;
	display: table;
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	height: 100%;
	color: #BEBEBE;
	text-decoration: none;
	padding-left: 110px;
	box-sizing: border-box;
}

.td-no-link-list-link span {
	display: table-cell;
	vertical-align: middle;
}

.td-list-link li:nth-child(1) .td-no-link-list-link::before  {
	content: "";
	display: block;
	position: absolute;
	left: 60px;
	top: 38px;
	background: url("../images/all-icons-gray.svg") no-repeat -22px -274px;
	width: 24px;
	height: 24px;
}

.td-list-link li:nth-child(2) .td-no-link-list-link::before  {
	content: "";
	display: block;
	position: absolute;
	left: 60px;
	top: 36px;
	background: url("../images/all-icons-gray.svg") no-repeat -60px -274px;
	width: 31px;
	height: 27px;
}

.td-list-link li:nth-child(3) .td-no-link-list-link::before  {
	content: "";
	display: block;
	position: absolute;
	left: 60px;
	top: 38px;
	background: url("../images/all-icons-gray.svg") no-repeat -108px -272px;
	width: 33px;
	height: 26px;
}

.td-list-link li:nth-child(4) .td-no-link-list-link::before  {
	content: "";
	display: block;
	position: absolute;
	left: 60px;
	top: 38px;
	background: url("../images/all-icons-gray.svg") no-repeat -155px -273px;
	width: 29px;
	height: 26px;
}


@media screen and (max-width: 980px) {

	.td-butt-link-inputs-page {
		text-align: center;
	}

	.td-link-inputs-page {
		float: none;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 15px;
	}

	.td-butt-inputs-page {
		float: none;
	}

	.td-butt-inputs-page .td-btn-inp-page-btn {
		margin-bottom: 15px;
	}

	.td-signup-btn-cancel {
		margin-left: 0 !important;
	}

	.td-image-upload {
		width: 100%;
		height: 450px;
	}

	.td-list-link li {
		float: none;
		width: auto;
		border-right: 0;
		font-size: 19px;
	}

	.td-list-link li:nth-child(2n) {
		border-top: 1px solid #D5D5D5;
	}

	.td-reclam-block {
		width: 377px;
		margin: 38px auto 4px;
	}

	.td-right-inputs-form-2 {
		width: 73.091%;
	}

	.td-left-inputs-form-2 {
		font-size: 12px;
	}

	.td-text-input-page-form {
		font-size: 20px;
	}

	.td-customize-link {
		font-size: 17px;
	}

	.input-file .jq-file__name {
		font-size: 17px;
	}

	.url-input-url-text {
		font-size: 20px;
		bottom: 13px;
	}

	.td-slm-box {
		position: relative;
	}

	.td-slm-box:before {
		content: "";
		position: absolute;
		display: block;
		left: 0;
		top: 1px;
		background: url("../images/gradient-nav.png") no-repeat 0 0;
		width: 34px;
		height: 46px;
		z-index: 99;
	}

	.td-slm-box:after {
		content: "";
		position: absolute;
		display: block;
		right: 0;
		top: 1px;
		background: url("../images/gradient-nav.png") no-repeat left bottom;
		width: 34px;
		height: 46px;
		z-index: 99;
	}

}

@media screen and (max-width: 768px) {
	.td-nav-page-form-wrapper {
		overflow-x: scroll;
	}
}

@media screen and (min-width: 768px) {
	.td-page-form {
		width: 720px;
	}
}

@media screen and (max-width: 500px) {
	.td-signup-form {
		padding: 30px 10px 37px;
		margin-bottom: 7px;
	}
	.td-list-input-form .td-item .td-error-box {
		font-size: 11px;
	}
	.td-email-input-item .td-error-box {
		width: 255px;
	}
	.td-password-input-item .td-error-box {
		width: 255px;
	}
	.td-site-center-wrap {
		margin: 7px 7px;
	}
	.td-left-inputs-form-2 {
		float: none;
		width: auto;
		text-align: center;
	}
	.td-right-inputs-form-2 {
		float: none;
		width: auto;
		text-align: center;
	}
	.td-image-upload {
		width: 230px;
		height: 157px;
	}
	.td-image-upload a {
		margin-top: 80px;
		font-size: 14px;
		padding: 9px 22px 13px;
	}
	.td-list-link li a {
		padding-left: 60px;
	}
	.td-list-link li a::before {
		left: 20px !important;
	}

	.td-reclam-block {
		width: 230px;
	}

	.td-page-form {
		margin-bottom: 7px;
	}

	.td-title-sredn {
		font-size: 25px;
	}

	.td-inputs-form-2 .td-item label span {
		font-size: 16px;
	}
}